# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
settings.json
*.log
temp_problem_ids.json
auto_problem_solver/output/
auto_problem_solver_debug.log
.env
auto_problem_solver/.encryption_key
auto_problem_solver/auto_problem_solver/output/
*.xlsx

# OS specific
.DS_Store
Thumbs.db 